@model SupplyWeb.Application.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Mercadorias";
}

<h2>Início</h2>
<hr />

<div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">Bem-vindo ao Supply Manager</h4>
    <p>O Supply Manager é um sistema de Supply Chain onde podem ser cadastrados os tipos de mercadorias e as entradas e saídas das mesmas.</p>
    <p>O sistema possui as seguintes funcionalidades:</p>
    <ul>
        <li>Gerenciamento das mercadorias</li>
        <li>Gerenciamento de entrada e saída de mercadorias</li>
        <li>Tela para visualização das entradas e saídas por mês de cada mercadoria em formato de gráfico</li>
        <li>Exportar relatório mensal com todas as entradas e saídas de todas as mercadorias no formato PDF.</li>
    </ul>
    <hr>
    <p class="mb-0">As funcionalidades podem ser acessadas no menu superior da aplicação</p>
</div>